.App {
  text-align: center;
  background-color: #D3C4B7;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Button {
  color: #BBA38E;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #BBA38E; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFF1E5;
}

.App-link {
  color: #D3C4B7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-box {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #D3C4B7;
}

.team-logo-box {
  width: 100%;
  height: 10%;
  border: 1px solid black;
  background-color: #774936;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-logo {
  font-size: 30px;
  color: black;
}

.menu-links-box {
  width: 100%;
  height: 53%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link {
  font-size: 25px;
  color: black;
}

.menu-link:hover {
  text-decoration: underline;
}

.bottom-menu-box {
  width: 100%;
  height: 10%;
  background-color: #BBA38E;
}

.bottom-menu-button {
  width: 100%;
  height: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}