

.header {
  width:100%;
  height:110px;
  font-family: Faune;
  font-size: 70px;
  color: #bba38e;
  background-color: #774936;
  background-image: url("./pics/lumber.png");
  background-repeat: repeat;
  text-align: center;
}

form {
  display: block;
  width:100vw;
  height:100vh;
  font-family: AlegreyaSans;
  color: #fff1e5;
  background-color: #bba38e;
  text-align: center;
}

body {
  display: block;
  width:100vw;
  height:100vh;
  font-family: AlegreyaSans;
  color: #fff1e5;
  background-color: #bba38e;
  text-align: center;
}

.frontier {
  display: block;
  width:100vw;
  height:2px;
  color: #fff1e5;
  text-align: center;
}

.recognition{
  margin: auto;
  background-color: #d1b297;
  color: #774936;
  height:auto;
  min-width:auto;
  max-width: 500px;
  padding: 1%;
  margin-top: 1%;
  font-size: 20px;
}

input {
  font-family: AlegreyaSans;
  font-size: 30px;
  border: none;
  color: #fff1e5;
  background-color: #bba38e;
  text-align: center;
}

.loading {
  font-family: AlegreyaSans-BlackItalic;
  font-size: 50px;
}

input:focus {
  outline: none;
  border-bottom: 2px dotted #fff1e5;
}

::-webkit-input-placeholder {
  color: #fff1e5;
  text-align: center;
}

:-moz-placeholder {
  color: #fff1e5;
  text-align: center;
}

::-moz-placeholder {
  color: #fff1e5;
  text-align: center;
}

::placeholder {
  color: #fff1e5;
  text-align: center;
}

:-ms-input-placeholder {
  color: #fff1e5;
  text-align: center;
}