/* Put here CSS that should be shared and synchronized across pages.
   Put elsewhere CSS that should not be shared. */

.row {
  float: left;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

body {
  display: block;
  width:100vw;
  height:100vh;
  font-family: AlegreyaSans;
  color: #58453B;
  background-color: #bba38e;
  text-align: center;
}

.body {
  display: block;
  width:100vw;
  height:100vh;
  font-family: AlegreyaSans;
  color: #58453B;
  background-color: #bba38e;
  text-align: center;
}

button {
  background-color: #d8b597;
  color: #58453B;
  border: none;
  font-weight: lighter;
  font-style: italic;
}

button:hover {
  font-weight: bold;
}

button:active {
  font-weight: bold;
}

.button {
  background-color: #d8b597;
  color: #58453B;
  border: none;
  font-weight: lighter;
  font-style: italic;
}

.button:hover {
  font-weight: bold;
}

.button:active {
  font-weight: bold;
}

.loading {
  font-family: AlegreyaSans;
  font-size: 50px;
}

.submit {
  font-size: 25px;
}

input:focus {
  outline: none;
  border-bottom: 2px dotted #bba38e;
  border-right: 2px dotted #bba38e;
}

::-webkit-input-placeholder {
  color: #bba38e;
  text-align: center;
}

:-moz-placeholder {
  color: #bba38e;
  text-align: center;
}

::-moz-placeholder {
  color: #bba38e;
  text-align: center;
}

::placeholder {
  color: #bba38e;
  text-align: center;
}

:-ms-input-placeholder {
  color: #bba38e;
  text-align: center;
}

@font-face {
  font-family: Faune;
  src: url(./typefaces/Faune-DisplayBoldItalic.otf);
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: AlegreyaSans;
  src: url(./typefaces/AlegreyaSans-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
