.recognition {
  margin: auto;
  background-color: #d8b597;
  color: #58453B;
  height:auto;
  min-width:auto;
  max-width: 90%;
  font-size: 20px;
  margin-top: 10px;
  padding: 2%;
}

.rockstar {
  background-color: #d8b597;
  color: #58453B;
  height:auto;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  padding: 2%;
}


/* for reporting recognitions */
.repbox {
  text-align: center;
  padding: 10px;
  font-family: AlegreyaSans;
  font-size: 20px;
  background-color: #bba38e;
}

.rep-input {
  font-family: AlegreyaSans;
  font-size: 20px;
  background-color: #d8b597;
  text-align: center;
  width: 280px;
  border: none;
  text-align: center;
  color: #58453B;
  border-bottom: 2px dotted #bba38e;
  border-right: 2px dotted #bba38e;
}

.rep-input:focus {
  outline: none;
  border-bottom: 2px dotted #bba38e;
  border-right: 2px dotted #bba38e;
}

.rep-button {
  font-family: AlegreyaSans;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  background-color: #58453B;
  text-align: center;
  width: 280px;
  border: none;
  text-align: center;
  background-color: #58453B;
  color: #bba38e;
  border-bottom: 2px dotted #58453B;
  border-right: 2px dotted #58453B;
}

.rep-button:active {
  font-weight: bold;
}

.rep-button:hover {
  font-weight: bold;
}

.rep-button:focus {
  font-weight: bold;
}

.header {
  width:100%;
  height:110px;
  font-family: Faune;
  font-size: 70px;
  color: #bba38e;
  background-color: #58453B;
  background-image: url("./pics/lumber.jpeg");
  background-repeat: repeat;
  text-align: center;
}

.topmenu {
  width:100%;
  height:60px;
  font-family: AlegreyaSans;
  font-size: 25px;
  color: #d8b597;
  background-color: #58453B;
  background-image: url("./pics/under-lumber.png");
  background-repeat: repeat;
}

.menu-left {
  text-align: left;
  font-family: Faune;
  font-size: 28px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 20px;
  width: 84px;
}

.menu-right {
  text-align: right;
  padding: 5px;
  padding-left: 40px;
  padding-right: 20px;
  width: 84px;
}

.menu-center {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.top-link {
  font-family: AlegreyaSans;
  color: #d8b597;
  padding: 20px;
}

.top-link:hover {
  font-family: AlegreyaSans;
  color: #d8b597;
  padding: 20px;
}

.top-link:active {
  font-family: AlegreyaSans;
  color: #fff1e5;
  padding: 20px;
}

/* Notification CSS elements: */


.false-notification{
  color:blue;
  height: 50px;
  width: 400px;
}
.true-notification{
  height: 50px;
  width: 400px;
}
.dropdown-item-text:hover{
  background-color:#cccccc
}

.Notification-Message{
  
  display:flex;
}
.space{
  margin-top:10px;
}
.dropdown-menu{
  width:auto;
  max-height:200px;
  overflow-y:auto;
  overflow-x:hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style:none;
}
.dropdown-menu::-webkit-scrollbar{
  width: 0 !important;
  display: none;
}

.btn-notif {
  background-color: transparent;
  content: none !important;
  border: none !important;
  overflow: hidden !important;
  color: #d8b597;
}

.btn-notif:after {
  content: none !important;
  border: none;
}

.btn-notif:focus {
  outline: none !important;
}