.left-column {
    width: 61.8%;
    padding: 10px;
    overflow: scroll;
}

.right-column {
    width: 38.2%;
    font-size: 25px;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}

.infobox {
    padding-top: 3px;
    border: 5px hidden #58453B;
    background-color: transparent;
    color: #58453B;
    min-height: 95%;
    width: 90%;
}