.loginput {
    font-family: AlegreyaSans;
    font-size: 30px;
    background-color: #58453B;
    text-align: center;
    width: 280px;
    border: none;
    text-align: center;
    background-color: #58453B;
    color: #bba38e;
    border-bottom: 2px dotted #58453B;
    border-right: 2px dotted #58453B;
}
  
.login-button {
  font-family: AlegreyaSans;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  background-color: #58453B;
  text-align: center;
  width: 80px;
  border: none;
  text-align: center;
  background-color: #58453B;
  color: #bba38e;
  border-bottom: 2px dotted #58453B;
  border-right: 2px dotted #58453B;
}

.login-button:focus {
  font-weight: bold;
}

.main-content-box {
  display: flex;
  flex-direction: row;
}

.login-button:active {
  font-weight: bold;
}

.login-button:hover {
  font-weight: bold;
}