.App {
  text-align: center;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--colorf);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--colorg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentpanel{
  background-color:var(--colorh);
  height: 400px;
}

.optionbox{
  background-color: var(--colori);
  border-radius: 10px;
  height:300px;
  padding-top:10px;
  margin-top:20px;
}

.top{
  background-color: var(--colorj);
  justify-content: center;
}

.topbutton{
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.profile{
  background: var(--colorj);
  border-radius: 50px;
  height: 100px;
  margin-top: 5px;
}

.profilepic{
  max-height:100%;
}
col{
  height:100%;
  width:auto;
}
.col-5{
  height:100%;
  width:100%;
}
.col-7{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.award{
  justify-content: center;
  align-items: center;
  background-color: var(--colord);
  border-radius:10px;
  margin:5px;
  height:100px!important;
  width:100px!important;
}

.firstname {
  width: 500px;
  font-weight: bold;
  font-size: 25px;
}

.lastname {
  width: 500px;
  font-size: 20px;
}

.profile-avatar {
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: auto;
}

.button-row {
  display: flex;
  justify-content: center;
}

.button-row-inside {
  padding-left: 0px;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.header-box {
  margin: auto;
  background-color: var(--colorc);
  color: var(--colorb);
  height:275px;
  font-size: 20px;
  flex-direction: column;
  flex: auto;
}
  
.contentpanel{
  background-color:var(--colorc);
  min-height: 500px;
  max-height: auto;
  overflow: scroll;
  padding: 10px;
}

.optionbox{
  background-color: var(--colora);
  border-radius: 10px;
  height:auto;
  padding:10px;
  margin-top:20px;
}

.net-profile {
  margin: auto;
  background-color: var(--colora);
  color: var(--colorb);
  height: auto;
  min-width:auto;
  max-width: 555px;
  font-size: 20px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row
}

.net-link {
  color: var(--colorb);
}

.net-link:hover {
  color: var(--colorb);
}

.pf-left-column {
  width: 38.2%;
  flex-direction: column;
}

.pf-right-column {
  width: 61.8%;
  font-size: 25px;
  flex-direction: column;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border-bottom: 2px dotted var(--colora);
  border-right: 2px dotted var(--colora);
  border-top: none;
  border-left: none;
}

.input {
  text-align: center;
  border: none;
  text-align: center;
  background-color: var(--colorc);
  color: var(--colorb);
}

::-webkit-input-placeholder {
  color: var(--colork);
  text-align: center;
}

:-moz-placeholder {
  color: var(--colork);
  text-align: center;
}

::-moz-placeholder {
  color: var(--colork);
  text-align: center;
}

::placeholder {
  color: var(--colork);
  text-align: center;
}

:-ms-input-placeholder {
  color: var(--colork);
  text-align: center;
}