.wood-theme{
    --colora: #d8b597;
    --colorb: #58453B;
    --colorc: #bba38e;
    --colord: #fff1e5;
    --colore: #d1b297;
}

.marble-theme{
    --colora:#2579e7;
    --colorb:#211352;
    --colorc:#439cc5;
    --colord:#857683;
    --colore:#000;
}