.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top{
  background-color: #d3c4b7;
  justify-content: center;
}

.topbutton{
  background-color:#fef2e6;
  border: none;
  color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
}

.profile{
  background: #d3c4b7;
  border-radius: 50px;
  height: 100px;
  margin:5px;
  
}
.profilepic{
  max-height:100%;
}
col{
  height:100%;
  width:auto;
}
.col-5{
  height:100%;
  width:100%;
}
.col-7{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.award{
  justify-content: center;
  align-items: center;
  background-color: #fef2e6;
  border-radius:10px;
  margin:5px;
  height:100px!important;
  width:100px!important;
}
.contentpanel{
  background-color:#fde9e7;
  height: 400px;
}